### Budtech KEY
ALIYUN_API_KEY=
ALIYUN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_NAME=deepseek-v3.2

## LANGSMITH配置，官方调试工具，可以不需要
# LANGSMITH_API_KEY=
# LANGSMITH_TRACING=true
# LANGSMITH_PROJECT=travel-planner-agent

## 高德地图 MCP
# AMAP_API_KEY=

### 向量库配置
MILVUS_ADDRESS=localhost:19530
MILVUS_USERNAME=sre_aiops
MILVUS_PASSWORD=
# 这里需要填写库名与映射字段
MILVUS_DATABASE=sre_events_f9b8ff38_5f99_4ebf_8795_2dfbf12acdab
#留空搜索所有 collection，或指定具体名称
# MILVUS_COLLECTION=
MILVUS_VECTOR_FIELD=vector
MILVUS_TEXT_FIELD=summary
# 这里需要填写向量模型的配置
EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/embeddings
EMBEDDING_API_KEY=
EMBEDDING_MODEL=text-embedding-v4
# 填写RERANK配置
RERANK_BASE_URL=https://dashscope.aliyuncs.com/api/v1/services/rerank/text-rerank/text-rerank
RERANK_API_KEY=
RERANK_MODEL=gte-rerank-v2
